body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card {
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 500px;
    width: 100%;
    border: white;
    border-width: 2px;
}

.image-container {
    position: relative;
}

.card img {
    max-width: 100%;
    border-radius: 10px;
}

.whatsapp-button {
    position: absolute;
    bottom: 30px; /* Cambia este valor para ajustar la posición vertical */
    left: 50%;
    transform: translateX(-50%);
    background-color: #21b959;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;

}

.whatsapp-button i {
    margin-right: 10px;
}

.whatsapp-button:hover {
    transition: 0.6s;
    background-color: #15883c;
}

/* Media Queries para diseño responsivo */
@media (max-width: 768px) {
    .card {
        padding: 10px;
        max-width: 90%;
    }

    .whatsapp-button {
        bottom: 20px; /* Ajusta la posición vertical para pantallas más pequeñas */
        font-size: 1em;
        padding: 8px 16px;
    }

    .whatsapp-button i {
        margin-right: 8px;
    }
}

@media (max-width: 480px) {
    .card {
        padding: 5px;
        max-width: 95%;
    }

    .whatsapp-button {
        bottom: 15px; /* Ajusta la posición vertical para pantallas más pequeñas */
        font-size: 0.9em;
        padding: 6px 12px;
    }

    .whatsapp-button i {
        margin-right: 5px;
    }
}